<!doctype html>
<html>
  <body>
    <div align='center'>
      <p><%= Ticket.model_name.human %> <%= @ticket.number %></p>
      <p><%= @ticket.guest.try(:full_name) %></p>
      <p><%= Table.model_name.human %> <%= @ticket.table_id %></p>
    </div>
  </body>
</html>
