<!doctype html>
<html>
  <body>
    <div align='center'>
      <h2><%= Ticket.model_name.human %> <%= @ticket.number %></h2>
      <h1><%= @ticket.guest.try(:full_name) %></h1>
      <h2><%= Table.model_name.human %> <%= @ticket.table_id %></h2>
    </div>
  </body>
</html>
