<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t('.title') %>
      <div class='pull-right text-right'>
        <form accept-charset='UTF-8' action='<%= lottery_ticket_drop_offs_path(@lottery) %>' method='get'>
          <%= text_field_tag(
            :number, @number,
            class: 'form-control span2',
            autofocus: true,
            placeholder: t('number_filter_placeholder'),
            onfocus: 'this.select();',
          ) %>
        </form>
      </div>
    </h1>
  </div>
</div>
<% if @lottery.locked? %>
  <div class="alert alert-warning">
    <strong><%= t('warning_notice') %></strong> <%= t('ticket_drop_offs.warning.lottery_is_unlocked') %>
  </div>
<% else %>
  <div class="alert alert-info" data-instructions>
    <strong><%= t('info_notice') %></strong> <%= t('ticket_drop_offs.info.instructions') %>
  </div>
<% end %>
<% if @tickets.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t('column_names.number') %></th>
        <th><%= Guest.model_name.human %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each.with_index do |ticket, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= PaddedNumber.pad_number(ticket.number) %></td>
          <td><%= ticket.guest.try(:full_name) %></td>
          <td><%= link_to(
            t('helpers.submit.ticket_drop_offs.update'),
            lottery_ticket_drop_off_path(@lottery, ticket),
            method: :patch,
            class: 'btn btn-xs btn-primary',
            'data-update-ticket-id' => ticket.id,
          ) unless @lottery.locked? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @number.present? %>
  <div class='row-fluid'><%= t('.ticket_number_not_found', number: @number) %></div>
<% else %>
  <div class='row-fluid'><%= t('.no_registered_tickets') %></div>
<% end %>
