<%= form_for(@seller, html: { class: 'form-horizontal seller' }) do |f| %>
  <% if @seller.errors.any? %>
    <div id='error_expl' class='panel panel-danger'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t(
          'activerecord.errors.models.seller.errors.header',
          count: @seller.errors.count,
          model: Seller.model_name.human.downcase,
          default: :'activerecord.errors.template.header',
        ) %></h3>
      </div>
      <div class='panel-body'>
        <ul>
        <% @seller.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label(:full_name, class: 'control-label col-lg-2') %>
    <div class='col-lg-10'>
      <%= f.text_field(:full_name, class: 'form-control', autofocus: true) %>
      <%= f.error_span(:full_name) %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-lg-offset-2 col-lg-10'>
      <%= f.submit(nil, class: 'btn btn-primary') %>
      <%= link_to(
        t('.cancel', default: t('helpers.links.cancel')),
        sellers_path,
        class: 'btn btn-default',
      ) %>
    </div>
  </div>
<% end %>
