<%- model_class = Seller -%>
<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(
        '.title',
        default: model_class.model_name.human.pluralize.titleize,
      ) %>
      <div class='pull-right'>
        <%= link_to(
          t(
            'sellers.new.title',
            default: [:'helpers.titles.new', 'New %{model}'],
            model: model_class.model_name.human.downcase,
          ),
          new_seller_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('column_names.seller.full_name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.full_name %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_seller_path(seller),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
