<table class='table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('column_names.number') %></th>
      <th><%= Guest.model_name.human %></th>
      <th><%= t('column_names.ticket.ticket_type') %></th>
      <th><%= Table.model_name.human %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ticket_listing.each do |ticket_row| %>
      <tr>
        <td><%= ticket_row.row_number %></td>
        <td><%= ticket_row.number %></td>
        <td><%= ticket_row.guest_name %></td>
        <td><%= ticket_row.ticket_type %></td>
        <td><%= ticket_row.table_number %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_ticket_registration_path(@lottery, ticket_row),
            class: 'btn btn-default btn-xs',
          ) unless @lottery.locked? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
