<table class='table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th><%= ticket_number_column_name %></th>
      <th><%= guest_column_name %></th>
      <th><%= ticket_type_column_name %></th>
      <th><%= table_column_name %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(
      partial: 'ticket_row',
      collection: @ticket_listing,
      as: :ticket_row,
    ) %>
  </tbody>
</table>
