<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('column_names.draw_order') %></th>
      <th><%= t('column_names.number') %></th>
      <th><%= Guest.model_name.human %></th>
      <th><%= Prize.model_name.human %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @draw_results.each do |(position, ticket, prize)| %>
      <tr class='<%= prize ? "success" : "" %>'>
        <td><%= position %></td>
        <td><%= PaddedNumber.pad_number(ticket.number) if ticket&.number %></td>
        <td><%= ticket&.guest&.full_name %></td>
        <td><%= number_to_currency(prize) if prize %></td>
        <td><%= link_to(
          t('helpers.submit.drawn_tickets.update'),
          lottery_drawn_ticket_path(@lottery, ticket),
          method: :patch,
          class: 'btn btn-xs btn-primary',
          'data-drawn-position' => position,
        ) if ticket %></td>
      </tr>
    <% end %>
  </tbody>
</table>
