<div class='page-header'>
  <div class='row-fluid'>
    <h1><%= t('.title') %></h1>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('column_names.draw_order') %></th>
      <th><%= t('column_names.number') %></th>
      <th><%= Guest.model_name.human %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @draw_positions.each do |(position, ticket)| %>
      <tr>
        <td><%= position %></td>
        <td><%= ticket&.number %></td>
        <td><%= ticket&.guest&.full_name %></td>
        <td><%= link_to(
          t('helpers.submit.drawn_tickets.update'),
          lottery_drawn_ticket_path(@lottery, ticket),
          method: :patch,
          class: 'btn btn-xs btn-primary',
        ) if ticket %></td>
      </tr>
    <% end %>
  </tbody>
</table>
