<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('column_names.draw_order') %></th>
      <th><%= t('column_names.number') %></th>
      <th><%= Guest.model_name.human %></th>
      <th><%= Prize.model_name.human %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @results_listing.each do |result_row| %>
      <tr class='<%= result_row.prize_amount ? "success" : "" %>'>
        <td><%= result_row.position %></td>
        <td><%= result_row.ticket_number %></td>
        <td><%= result_row.guest_name %></td>
        <td><%= number_to_currency(result_row.prize_amount) %></td>
        <td><%= link_to(
          t('helpers.submit.drawn_tickets.update'),
          lottery_drawn_ticket_path(@lottery, result_row),
          method: :patch,
          class: 'btn btn-xs btn-primary',
          'data-drawn-position' => result_row.position,
        ) if result_row.ticket_to_display? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
