<%- model_class = User -%>
<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(
        '.title',
        default: model_class.model_name.human.pluralize.titleize,
      ) %>
      <div class='pull-right'>
        <%= link_to(
          t(
            'users.new.title',
            default: [:'helpers.titles.new', 'New %{model}'],
            model: model_class.model_name.human.downcase,
          ),
          new_user_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>
<% if @users.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t('column_names.user.email') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <%= link_to(
              t('.edit', default: t('helpers.links.edit')),
              edit_user_path(user),
              class: 'btn btn-default btn-xs',
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='row-fluid'><%= t('.no_users') %></div>
<% end %>
