<div id='drawn-ticket' data-lottery-id='<%= @ticket.lottery_id %>'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h1><%= @ticket.guest&.full_name %></h1>
      <h2><%= Ticket.model_name.human %> <%= PaddedNumber.pad_number(@ticket.number) %></h2>
      <% if @ticket.ticket_type == 'lottery_only' %>
        <h3><%= Ticket.human_attribute_name('ticket_type.%s' % @ticket.ticket_type) %></h3>
      <% end %>
      <% if @ticket.ticket_type == 'meal_and_lottery' && (table_number = @ticket.table&.number).present? %>
        <h3><%= Table.model_name.human %> <%= table_number %></h3>
      <% end %>
    </div>
  </div>
  <% if @ticket.prize %>
    <div class='panel panel-success'>
      <div class='panel-heading'>
        <h2><%= Prize.model_name.human %>: <%= number_to_currency(@ticket.prize.amount) %></h2>
      </div>
    </div>
  <% end %>
</div>
