<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1><%= ticket.guest_name %></h1>
    <h2><%= ticket.number %></h2>
    <h3><%= ticket.ticket_type %></h3>
    <h3><%= ticket.table_number %></h3>
  </div>
</div>
<% if ticket.prize_to_display? %>
  <%= render('results/prize', amount: ticket.prize_amount) %>
<% end %>
