<%= form_for(@sponsor, html: { class: 'form-horizontal sponsor' }) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id='error_expl' class='panel panel-danger'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= pluralize(@sponsor.errors.count, 'error') %> prohibited this sponsor from being saved:</h3>
      </div>
      <div class='panel-body'>
        <ul>
        <% @sponsor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label(:full_name, class: 'control-label col-lg-2') %>
    <div class='col-lg-10'>
      <%= f.text_field(:full_name, class: 'form-control', autofocus: true) %>
    </div>
    <%=f.error_span(:full_name) %>
  </div>

  <div class='form-group'>
    <div class='col-lg-offset-2 col-lg-10'>
      <%= f.submit(nil, class: 'btn btn-primary') %>
      <%= link_to(
        t('.cancel', default: t('helpers.links.cancel')),
        sponsors_path,
        class: 'btn btn-default',
      ) %>
    </div>
  </div>
<% end %>
