<%- model_class = Sponsor -%>
<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(
        '.title',
        default: model_class.model_name.human.pluralize.titleize,
      ) %>
      <div class='pull-right'>
        <%= link_to(
          t(
            'sponsors.new.title',
            default: [:'helpers.titles.new', 'New %{model}'],
            model: model_class.model_name.human.downcase,
          ),
          new_sponsor_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.full_name %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_sponsor_path(sponsor),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
