<%- model_class = Lottery -%>
<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(
        '.title',
        default: model_class.model_name.human.pluralize.titleize,
      ) %>
      <div class='pull-right'>
        <%= link_to(
          t(
            'lottery.new.title',
            default: [:'helpers.titles.new', 'New %{model}'],
            model: model_class.model_name.human.downcase,
          ),
          new_lottery_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('column_names.lottery.event_date') %></th>
      <th><%= t('column_names.lottery.meal_voucher_price') %></th>
      <th><%= t('column_names.lottery.ticket_price') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @lotteries.each do |lottery| %>
      <tr>
        <td><%= link_to(lottery.event_date, lottery_tickets_path(lottery)) %></td>
        <td><%= number_to_currency(lottery.meal_voucher_price) %></td>
        <td><%= number_to_currency(lottery.ticket_price) %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_path(lottery),
            class: 'btn btn-default btn-xs',
          ) %>
          <%= link_to(
            t('.show', default: t('helpers.links.show')),
            lottery_path(lottery),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
