<div class='row'>
  <div class='col-sm-2 sidebar'>
    <ul class='nav nav-sidebar'>
      <%= menu_item('Tickets', lottery_tickets_path(@lottery)) %>
      <%= menu_item('New ticket', new_lottery_ticket_path(@lottery)) %>
      <%= menu_item('Tables', lottery_tables_path(@lottery)) %>
      <%= menu_item('New table', new_lottery_table_path(@lottery)) %>
      <%= menu_item('Prizes', lottery_prizes_path(@lottery)) %>
      <%= menu_item('New prize', new_lottery_prize_path(@lottery)) %>
    </ul>
  </div>
  <div class='col-sm-10 col-sm-offset-2 main'>
    <%= render(main_partial) %>
  </div>
</div>
