<%- model_class = Lottery -%>
<div class='page-header'>
  <h1><%= t('.title', default: model_class.model_name.human.titleize) %></h1>
</div>

<dl class='dl-horizontal'>
  <dt><strong><%= t('column_names.lottery.event_date') %>:</strong></dt>
  <dd><%= @lottery.event_date %></dd>
</dl>

<%= render partial: 'tickets_dashboards/tickets_dashboard' %>

<%= link_to(
  t('.back', default: t('helpers.links.back')),
  lotteries_path,
  class: 'btn btn-default',
)  %>
<%= link_to(
  t('.edit', default: t('helpers.links.edit')),
  edit_lottery_path(@lottery),
  class: 'btn btn-default',
) %>
<%= link_to(
  lock_or_unlock(@lottery),
  lock_lottery_path(@lottery),
  method: :patch,
  class: 'btn btn-danger',
) %>
