<%- model_class = Ticket -%>
<div class='page-header'>
  <h1><%=t(
    '.title',
    default: model_class.model_name.human.pluralize.titleize,
  ) %></h1>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:lottery_id) %></th>
      <th><%= model_class.human_attribute_name(:seller_id) %></th>
      <th><%= model_class.human_attribute_name(:guest_id) %></th>
      <th><%= model_class.human_attribute_name(:sponsor_id) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%=t(
        '.actions',
        default: t('helpers.actions'),
      ) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.lottery_id %></td>
        <td><%= ticket.seller_id %></td>
        <td><%= ticket.guest_id %></td>
        <td><%= ticket.sponsor_id %></td>
        <td><%= ticket.number %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_ticket_path(@lottery, ticket),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(
  t('.new', default: t('helpers.links.new')),
  new_lottery_ticket_path(@lottery),
  class: 'btn btn-primary',
) %>
