<%- model_class = Ticket -%>
<div class='page-header'>
  <h1><%=t(
    '.title',
    default: model_class.model_name.human.pluralize.titleize,
  ) %></h1>
  <div class='row'>
    <div class='pull-right'>
      <form accept-charset='UTF-8' action='<%= lottery_tickets_path(@lottery) %>' method='get'>
        <%= text_field_tag(
          :q, @q,
          class: 'form-control span2',
          placeholder: t('search_placeholder'),
          autofocus: true,
          onfocus: 'this.select();',
        ) %>
      </form>
    </div>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= Seller.human_attribute_name(:full_name) %></th>
      <th><%= Guest.human_attribute_name(:full_name) %></th>
      <th><%= Sponsor.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:ticket_type) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.number %></td>
        <td><%= ticket.seller.try(:full_name) %></td>
        <td><%= ticket.guest.try(:full_name) %></td>
        <td><%= ticket.sponsor.try(:full_name) %></td>
        <td><%= model_class.human_attribute_name('state.%s' % ticket.state) %></td>
        <td><%= model_class.human_attribute_name('ticket_type.%s' % ticket.ticket_type) %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_ticket_path(@lottery, ticket),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
