<%- model_class = Ticket -%>
<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(
        '.title',
        default: model_class.model_name.human.pluralize.titleize,
      ) %>
      <div class='pull-right text-right'>
        <form accept-charset='UTF-8' action='<%= lottery_tickets_path(@lottery) %>' method='get'>
          <%= text_field_tag(
            :q, @q,
            class: 'form-control span2',
            placeholder: t('search_placeholder'),
            autofocus: true,
            onfocus: 'this.select();',
          ) %>
        </form>
        <%= link_to(
          t(
            'ticket.new.title',
            default: [:'helpers.titles.new', 'New %{model}'],
            model: model_class.model_name.human.downcase,
          ),
          new_lottery_ticket_path(@lottery),
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>
<% if @tickets.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t('column_names.number') %></th>
        <th><%= Seller.model_name.human %></th>
        <th><%= Guest.model_name.human %></th>
        <th><%= Sponsor.model_name.human %></th>
        <th><%= t('column_names.ticket.stage') %></th>
        <th><%= t('column_names.ticket.ticket_type') %></th>
        <th class='text-center'><%= t('column_names.ticket.table_id') %></th>
        <th><%= t('column_names.ticket.registration_step') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.number %></td>
          <td><%= ticket.seller.try(:full_name) %></td>
          <td><%= ticket.guest.try(:full_name) %></td>
          <td><%= ticket.sponsor.try(:full_name) %></td>
          <td><%= model_class.human_attribute_name('state.%s' % ticket.state) %></td>
          <td><%= model_class.human_attribute_name('ticket_type.%s' % ticket.ticket_type) %></td>
          <td class='text-center'><%=h ticket.table_id %></td>
          <td><%= registration_step_label(ticket) %></td>
          <td>
            <%= link_to(
              t('.edit', default: t('helpers.links.edit')),
              edit_lottery_ticket_path(@lottery, ticket),
              class: 'btn btn-default btn-xs',
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @q.present? %>
  <div class='row-fluid'><%= t('.no_tickets_for_query', query: @q) %></div>
<% else %>
  <div class='row-fluid'><%= t('.no_tickets') %></div>
<% end %>
