<table class='table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('column_names.number') %></th>
      <th><%= Seller.model_name.human %></th>
      <th><%= Guest.model_name.human %></th>
      <th><%= Sponsor.model_name.human %></th>
      <th><%= t('column_names.ticket.state') %></th>
      <th><%= t('column_names.ticket.ticket_type') %></th>
      <th class='text-center'><%= t('column_names.table.number') %></th>
      <th><%= t('column_names.ticket.registration_step') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ticket_listing.each do |ticket_row| %>
      <tr>
        <td><%= ticket_row.row_number %></td>
        <td><%= ticket_row.number %></td>
        <td><%= ticket_row.seller_name %></td>
        <td><%= ticket_row.guest_name %></td>
        <td><%= ticket_row.sponsor_name %></td>
        <td><%= ticket_row.state %></td>
        <td><%= ticket_row.ticket_type %></td>
        <td class='text-center'><%= ticket_row.table_number %></td>
        <td><%= content_tag(:span, ticket_row.registration_step, class: ticket_row.registration_label_class) %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_ticket_path(@lottery, ticket_row),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
