<%- model_class = Table -%>
<div class='page-header'>
  <h1><%= t(
    '.title',
    default: model_class.model_name.human.pluralize.titleize,
  ) %></h1>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.number %></td>
        <td><%= table.capacity %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_table_path(@lottery, table),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
