<%- model_class = Table -%>
<div class='page-header'>
  <h1><%= t(
    '.title',
    default: model_class.model_name.human.pluralize.titleize,
  ) %></h1>
  <div class='row'>
    <div class='pull-right'>
      <%= link_to(
        t(
          'tables.new.title',
          default: [:'helpers.titles.new', 'New %{model}'],
          model: model_class.model_name.human.downcase,
        ),
        new_lottery_table_path(@lottery),
        class: 'btn btn-primary',
      ) %>
    </div>
  </div>
</div>
<% if @tables.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t('column_names.number') %></th>
        <th><%= t('column_names.table.capacity') %></th>
        <th><%= t('column_names.table.tickets_count') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each.with_index do |table, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= table.number %></td>
          <td><%= table.capacity %></td>
          <td><%= table.tickets_count %></td>
          <td>
            <%= link_to(
              t('.edit', default: t('helpers.links.edit')),
              edit_lottery_table_path(@lottery, table),
              class: 'btn btn-default btn-xs',
            ) %>
            <%= link_to(
              t('.show', default: t('helpers.links.show')),
              lottery_table_path(@lottery, table),
              class: 'btn btn-default btn-xs',
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='row-fluid'><%= t('.no_tables') %></div>
<% end %>
