<% if @prizes.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t('column_names.prize.draw_order') %></th>
        <th><%= t('column_names.prize.nth_before_last') %></th>
        <th><%= t('column_names.prize.amount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @prizes.each do |prize| %>
        <tr>
          <td><%= prize.draw_order %></td>
          <td><%= display_draw_position(prize) %></td>
          <td><%= number_to_currency(prize.amount) %></td>
          <td>
            <%= link_to(
              t('.edit', default: t('helpers.links.edit')),
              edit_lottery_prize_path(@lottery, prize),
              class: 'btn btn-default btn-xs',
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='row-fluid'><%= t('.no_prizes') %></div>
<% end %>
