<%- model_class = Prize -%>
<div class='page-header'>
  <h1><%= t(
    '.title',
    default: model_class.model_name.human.pluralize.titleize,
  ) %></h1>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:draw_order) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= t('.actions', default: t('helpers.actions')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @prizes.each do |prize| %>
      <tr>
        <td><%= prize.draw_order %></td>
        <td><%= number_to_currency(prize.amount) %></td>
        <td>
          <%= link_to(
            t('.edit', default: t('helpers.links.edit')),
            edit_lottery_prize_path(@lottery, prize),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
