<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t('.title') %>
      <div class='pull-right text-right'>
        <form accept-charset='UTF-8' action='<%= lottery_ticket_draws_path(@lottery) %>' method='get'>
          <%= text_field_tag(
            :number, @number,
            class: 'form-control span2',
            autofocus: true,
            placeholder: t('number_filter_placeholder'),
            onfocus: 'this.select();',
          ) %>
        </form>
      </div>
    </h1>
  </div>
</div>
<% unless @lottery.locked? %>
  <div class="alert alert-warning">
    <strong><%= t('warning_notice') %></strong> <%= t('ticket_draws.warnings.lottery_is_unlocked') %>
  </div>
<% end %>
<% if @tickets.present? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t('column_names.number') %></th>
        <th><%= Guest.model_name.human %></th>
        <th><%= t('column_names.ticket.ticket_type') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.number %></td>
          <td><%= ticket.guest.try(:full_name) %></td>
          <td><%= Ticket.human_attribute_name('ticket_type.%s' % ticket.ticket_type) %></td>
          <td><%= link_to(
            t('helpers.submit.ticket_draws.update'),
            lottery_ticket_draw_path(@lottery, ticket),
            method: :patch,
            class: 'btn btn-xs btn-primary',
          ) if @lottery.locked? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @number.present? %>
  <div class='row-fluid'><%= t('.ticket_number_not_found', number: @number) %></div>
<% else %>
  <div class='row-fluid'><%= t('.no_tickets_to_draw') %></div>
<% end %>
