<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag(
      'application',
      media: 'all',
      'data-turbolinks-track': 'reload',
    ) %>
    <%= javascript_include_tag(
      'application',
      'data-turbolinks-track': 'reload',
    ) %>
  </head>
  <body>
    <%= render('layouts/navigation') %>
    <div class='container-fluid'>
      <% if content_for?(:content_adjacent_to_sidebar) %>
        <div class='row'>
          <div class='col-sm-2 sidebar'>
            <%= render 'lotteries/sidebar' %>
          </div>
          <div class='col-sm-10 col-sm-offset-2 main'>
            <%= yield :content_adjacent_to_sidebar %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
